/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */

#navbar{
    display: flex;
    top: 0;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    position: sticky;
}

#navbar::before{
    content: "";
    background-color: black;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    opacity: 0.4;
}

html{
    scroll-behavior: smooth;
}
/* Navigation Bar: Logo and Image */

#logo{
 margin: 20px 40px;
}

#logo img{
    width: 50px;
    filter: invert(100%);
}

/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    padding: 3px 25px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home Section */

#home{
    display: flex;
    flex-direction: column;
    padding: 20px 200px;
    justify-content: center;
    align-items: center;
    height: 412px;
}

#home::before{
    content: "";
    background: url('../bg1.jpg') no-repeat center center/cover;
    width: 100%;
    height: 541px;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    opacity: 0.8; 
}

#home h1{
    font-size: 3rem;
    color: white;
    padding: 10px;
    text-align: center;
    font-family: 'Baloo Bhai 2', cursive;
}

#home p{
    font-size: 1.4rem;
    color: white;
    text-align: center;
    font-family: 'Baloo Bhai 2', cursive;
}

/* Services Section */

.services-container h1{
    text-align: center;
    font-size: 3rem;
    margin: 20px 10px;
    font-family: 'Baloo Bhai 2', cursive;
}

#services{
    display: flex;
    margin: 20px;
}

.box{
border: 2px solid brown;
padding: 40px 30px;
margin: 30px 40px;
background-color: #f0f0f0;
border-radius: 34px;
transition-property: transform;
transition-duration: 0.3s;
}

.box:hover{
    transform: scale(1.05);
}
.box img{
    display: block;
    margin: auto;
    width: 200px;
}

.box h2{
    text-align: center;
    margin: 20px;
    font-size: 2.4rem;
}

.box p{
    text-align: center;
    font-family: 'Baloo Bhai 2', cursive;
}
/* Utility Classes */
.btn{
    padding: 10px 30px;
    background-color: brown;
    border: 2px solid white;
    color: white;
    margin: 20px;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 10px;
}

/* Sponsors Section */

#client-section{
    position: relative;
}
#client-section h1{
    text-align: center;
    font-size: 3rem;
    padding: 15px;
    font-family: 'Baloo Bhai 2', cursive;
}

#client-section::before{
position: absolute;
background: url('../bg.jpg') no-repeat center center/cover;
content: "";
z-index: -1;
opacity: 0.3;
width: 100%;
height: 100%;
}

#clients{
    display: flex;
    justify-content: center;
}

.clients-item{
padding: 50px;
}

.clients-item img{
    height: 80px;
}

/* Contact Section */

#contact-section h1{
    text-align: center;
    font-size: 3rem;
    font-family: 'Baloo Bhai 2', cursive;
} 

#contact-section{
    position: relative;
}

#contact-section::before{
position: absolute;
background: url('../contact.jpg') no-repeat center center/cover;
content: "";
z-index: -1;
opacity: 0.3;
width: 100%;
height: 100%;
}

#contact-box {
    display: flex;
   justify-content: center;
   align-items: center;
   padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea {
width: 100%;
padding: 10px 5px;
}

#contact-box label{
    font-size: 1.3rem;
    padding: 30px 0; 
}

#contact-box form{
    width: 40%;
}

#contact-box button{
    width: 440px;
    display: block;
    margin: 20px auto 0px;
}

.form-group{
    padding: 10px 0px;
}
/* Footer Section */

footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px 12px;
}